@model Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a asp-controller="Product" asp-action="Index"  ><i class="fa fa-home"></i> Home</a>
                       @* @foreach (Category item in ViewBag.categories)
                       {
                            <a href="#"> @item.Name  </a>
                       }
                       *@
                        <a href="#"> @Model.Category.Name  </a>
                        <span>@Model.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            @foreach (ProductImage item in @Model.ProductImages)
                            {
                               <a class="pt" href="#product-@(i++)">
                                <img src="@item.FilePath" alt="">
                               </a> 
                            }  
                        </div>
                            <span hidden>@(i=1)</span>
                        
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                @foreach (var item in Model.ProductImages)
                                {
                                   <img data-hash="product-@(i++)" class="product__big__img" src="@item.FilePath" alt="">
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>@Model.Name <span>Brand: SKMEIMore Men Watches from SKMEI</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                    <div class="product__details__price">@Model.Price <span>$ @{
                              int t=  @Model.Price + 20;
                            }@t
                            </span></div>
                    <p>@Model.Description .</p>
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                            <a href="#" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
                            
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div class="stock__checkbox">
                                        <label for="stockin">
                                            In Stock
                                            <input type="checkbox" id="stockin">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                      
                                        @foreach (var item in @Model.Colors)
                                       {
                                        <label for="@item.Color">
                                            <input  type="radio" name="color__radio"  id="@item.Color" >
                                            <span class="checkmark grey-bg" style=" background-color:@item.Color"></span>
                                        </label> 

                                       }

                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        <label for="xs-btn" class="active">
                                            <input type="radio" id="xs-btn">
                                            xs
                                        </label>
                                        <label for="s-btn">
                                            <input type="radio" id="s-btn">
                                            s
                                        </label>
                                        <label for="m-btn">
                                            <input type="radio" id="m-btn">
                                            m
                                        </label>
                                        <label for="l-btn">
                                            <input type="radio" id="l-btn">
                                            l
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>@Model.Description</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

              
                	<div class="col-lg-12 col-md-12">
				<div id="con" class="row">
					<!-- Start Product Card -->
					
					<partial name="_Shop" model="@ViewBag.fourProduct"></partial>
					<!-- Start Product Card -->


				</div>
			</div>
            </div>
       
    </section>
    <!-- Product Details Section End -->
    @section Scripts{

    
    <script>
    
    var proQty = $('.pro-qty');
	proQty.prepend('<span class="dec qtybtn">-</span>');
	proQty.append('<span class="inc qtybtn">+</span>');
	proQty.on('click', '.qtybtn', function () {
		var $button = $(this);
		var oldValue = $button.parent().find('input').val();
		if ($button.hasClass('inc')) {
			var newVal = parseFloat(oldValue) + 1;
		} else {
			// Don't allow decrementing below zero
			if (oldValue > 0) {
				var newVal = parseFloat(oldValue) - 1;
			} else {
				newVal = 0;
			}
		}
		$button.parent().find('input').val(newVal);
    });
    
    </script>
    }