@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Breadcrumb Begin -->
 <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>



<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb__links">
					<a href="/"><i class="fa fa-home"></i> Home</a>
					<span>Shop</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Section Begin -->
<section class="shop spad">
	<div class="container">
		<div class="row">
			<!--Start Side Bar -->
			<div class="col-lg-3 col-md-3">
				<div class="shop__sidebar">
					<div class="sidebar__categories">
						<div class="section-title">
							<h4>Categories</h4>
						</div>
						<div class="categories__accordion">
							<div class="accordion" id="accordionExample">
								@foreach (var item in ViewBag.Categories)
								{
									<label for="@item.Text">
									@item.Text
									<input type="checkbox" name="selectedCategorys" id="@item.Text" value="@item.Value">
									<span class="checkmark"></span>
									</label>
								}
								<a onclick="shopByCategory()" class="myfliter">Filter</a>

								
							</div>
						</div>
					</div>
					<div class="sidebar__filter">
						<div class="section-title">
							<h4>Shop by price</h4>
						</div>
						<div class="filter-range-wrap">
							<div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
								 data-min="0" data-max="10000"></div>
							<div class="range-slider">
								<div class="price-input">
									<p>Price:</p>
									<input style="max-width:60px" type="text" id="minamount">
									<input style="max-width:60px" type="text" id="maxamount">
								</div>
							</div>
						</div>
						<br />
						<a onclick="shopByPrice()" class="myfliter" style="cursor:pointer;position:static;display:block">Filter</a>
					</div>

					<div class="sidebar__color">
						<div class="section-title">
							<h4>Shop by Color</h4>
						</div>
						<div class="size__list color__list">
							@foreach (var item in ViewBag.Colors)
							{
								<label for="@item.Text">
								@item.Text
								<input type="checkbox" name="selectedColors" id="@item.Text" value="@item.Value">
								<span class="checkmark"></span>
								</label>
							
							}
							<a onclick="shopByColor()" class="myfliter">Filter</a>

							
						</div>
					</div>
				</div>
			</div>
			<!--End  Side Bar -->
			<!-- Start Product List -->

			<div class="col-lg-9 col-md-9">

				
				<div id="con" class="row">
					<!-- Start Product Card -->
					
					<partial name="ShopByColors"></partial>
					<!-- Start Product Card -->


				</div>
			</div>
			<!-- Start Product List -->

		</div>
	</div>
</section>
<!-- Shop Section End -->


<script type="text/javascript">
	function shopByCategory(){

		var Categories = [];

		// Initializing array with Checkbox checked values
		$("input[name='selectedCategorys']:checked").each(function(){
			Categories.push(this.value);
		});

            $.ajax({
                type: "POST",
                url: "/Products/ShopByCategory",
                data:  {Categorys:Categories},
                success: function (response) {
					$("#con").html(response);
                    //alert(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
	}
	function shopByPrice(){
	var Colors = [];

		
			var minamount = $("#minamount").val().substring(1);
			var maxamount = $("#maxamount").val().substring(1);
            $.ajax({
                type: "POST",
                url: "/Products/ShopByPrice",
                data:  {"min":minamount,"max":maxamount},
                success: function (response) {
					$("#con").html(response);
                    //alert(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
	}
    function shopByColor() {
		var Colors = [];

		// Initializing array with Checkbox checked values
		$("input[name='selectedColors']:checked").each(function(){
			Colors.push(this.value);
		});

			//alert("clicked")
            $.ajax({
                type: "POST",
                url: "/Products/ShopByColors",
                data:  ({selectedColors : Colors }),
                success: function (response) {
					$("#con").html(response);
                    //alert(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

		function removeAlert(){
					var ale = document.getElementById("alert");

			ale.remove();
		}
		//function AddToCart(id){
		


		//	//$(al).appendTo('#alerts').show('slow');
			


		//	 $.ajax({
  //              type: "POST",
  //              url: `/buy/${id}`,
  //              success: function (response) {
		//			setTimeout(function() {
		//			  $('#alerts').fadeIn('fast');
		//			}, 100);
		//			setTimeout(function() {
		//			  $('#alerts').fadeOut('fast');
		//			}, 1000);   
		//			$("#cartItems").text(response);

					
		//		},
  //              failure: function (response) {
  //                  alert(response.responseText);
  //              },
  //              error: function (response) {
  //                  alert(response.responseText);
  //              }
  //          });

		//}
    </script>
