
                                @foreach (var item in ViewBag.cart)
                                    {
                                        <tr>
                                            <td class="cart__product__item">
                                               
                                                
                                                <img style="height:150px" src="@((item.Product.ProductImages as List<ProductImage>).FirstOrDefault().FilePath)" alt="">
                                                <div class="cart__product__item__title">
                                                    <h6>@item.Product.Name</h6>
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="cart__price">$ @item.Product.Price</td>
                                            <td class="cart__quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="@item.Quantity">
                                                </div>
                                            </td>
                                            <td class="cart__total">$ @(item.Product.Price * item.Quantity)</td>
                                            <td onclick="DeleteItem(@item.Product.Id)" class="cart__close"><span class="icon_close"></span></td>
                                        </tr>
                                    }