
@foreach (var item in ViewBag.cart)
{
	<tr>
		<td class="cart__product__item">


			<img style="height:150px" src="@((item.Product.ProductImages as List<ProductImage>).FirstOrDefault().FilePath)" alt="">
			<div class="cart__product__item__title">
				<h6>@item.Product.Name</h6>
				<div class="rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
			</div>
		</td>
		<td class="cart__price">$ @item.Product.Price</td>
		<td class="cart__quantity">
			<div class="pro-qty">
				<span onclick="Min(@item.Product.Id ,@item.Product.Price)" class="dec qtybtn">-</span>
				<input id="btnQuantity" type="text" value="@item.Quantity" />
				<span onclick="Add(@item.Product.Id,@item.Product.Price)" class="inc qtybtn">+</span>
			</div>
		</td>
		<td class="cart__total" id="total_@item.Product.Id">$ @(item.Product.Price * item.Quantity)</td>
		<td onclick="DeleteItem(@item.Product.Id)" class="cart__close"><span class="icon_close"></span></td>
	</tr>

}


<script>
		/*-------------------
			Quantity change
		--------------------- */
		
		var btn = document.getElementById("btnQuantity");
		function removeAlert(){
					var ale = document.getElementById("alert");

			ale.remove();
		}
		function Add(id,price){
			var oldValue = btn.value;

				$.ajax({
					type: "POST",
					url: `/Shopping/AddToQuantity/${id}`,
					success: function (response) {
						//$("#con").html(response);
						//alert(response);

					  var newVal = parseFloat(oldValue) + 1;
					  btn.value = newVal;
					  var total = document.getElementById(`total_${id}`);
					  total.textContent= `$ ${parseInt(newVal) * parseInt(price)}`
					  

					},
					failure: function (response) {
						alert(response.responseText);
					},
					error: function (response) {
						alert(response.responseText);
					}
				});
	}


	function Min(id,price){
				var oldValue = btn.value;

				// Don't allow decrementing below zero
				if (oldValue > 1) {
					$.ajax({
					type: "POST",
					url: `/Shopping/MinToQuantity/${id}`,
					success: function (response) {
						//$("#con").html(response);
						//alert(response);
						var newVal = parseFloat(oldValue) - 1;
							btn.value = newVal;
					  var total = document.getElementById(`total_${id}`);
					  total.textContent= `$ ${parseInt(newVal) * parseInt(price)}`

					},
					failure: function (response) {
						alert(response.responseText);
					},
					error: function (response) {
						alert(response.responseText);
					}
				});
				}


	}
</script>
